.navbar{
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}
.navbar ul li a{
	color: #666;
}

body, html {
    height: 100%;
    
}
.search{
    display: table-cell;
    vertical-align: middle;


}
.container-fluid{
    max-width: 600px;
    display: table;
    height: 100%;
}




